/* CSS for Contacts page should lives there */
header .inline_list{
    display: flex;
    list-style: none;
    justify-content: center;
}
header a {
    list-style: none;
    color: #000000;
}
header .inline_list_item {
    padding: 20px;
}
header .inline_list_item:first-of-type {
    padding-right: 70px;
}
header .fas.fa-hands-helping, .fas.fa-mobile-alt {
    color: green;
}
footer {
    margin-top: 200px;
    background-color: #000000;
    color: gray;
}
footer a {
    color: gray;
}
footer ul {
    list-style: none;
    padding-top: 30px;
    line-height: 35px;
}
footer #grid {
    display: flex;
    justify-content: center;
}
footer b.first_b {
    color: #fff;
}
.fab.fa-facebook {
    color: blue;
}
.fab.fa-twitter-square {
    color: lightblue;
}
.fab.fa-google-plus-g {
    color: red;
}
footer .input_email {
    width: auto;
}
hr {
    color: #fff;
    width: 50px;
}
footer p {
    text-align: center;
}
/* main */
main .img-fluid {
    width: 100%;
    height: 250px;
}
.team {
    float: left;
    height: 300px;
    margin-right: 100px;
}
.first-p {
    color: #808080;
}
.must_be_gray {
    color:#808080;
}
div.row p {
    margin:0;
    padding:0;
}
.far.fa-smile {
    height: 50px;
}
.fas.fa-medal {

}
.fas.fa-user-tie {

}
